.qtcreator
__pycache__
# Ignore compiled binary files
*.o
*.exe
*.dll

# Ignore Qt build folders
/build/

/dist/

# Ignore Qt Creator user-specific settings
*.user

# Ignore Visual Studio Code settings folder
.vscode/
